{% extends "../layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="pusher row">
  <h2>{{ category.name | title }}</h2>
  {% for product in products %}
  <div class="ui card">
    <div class="image">
      <img src="{{ product.image.url }}">
    </div>
    <div class="content">
      <a class="header" href="{{ product.get_absolute_url }}">{{ product.title | title }}</a>
      <div class="description">
        {{ product.author  }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
